<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="navbar navbar-default" th:fragment="menu">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Travellerk</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Visits</a></li>
            <li><a href="add">Add Visit</a></li>
            <li><a href="mostVisits">Most Visits</a></li>
            <li><a href="mostDays">Most Days</a></li>
            <li><a href="continents">Continents</a></li>
            <li><a href="map">Map</a></li>
            <li><a href="years">Years</a></li>
            <li><a href="stateVisits">State Visits</a></li>
            <li><a href="addState">Add State Visit</a></li>
            <li><a href="states">States</a></li>
        </ul>
    </div>
</nav>
</body>
</html>